# NGROK
NGROK_AUTHTOKEN=you_token_ngrok

# N8N
N8N_WEBHOOK_URL=https://your-ngrok-subdomain.ngrok-free.dev
N8N_EDITOR_BASE_URL=https://your-ngrok-subdomain.ngrok-free.dev
N8N_HOST=your-ngrok-subdomain.ngrok-free.dev
N8N_USER_FOLDER=your_user_folder_with_n8n
# .NET
GEMINI_API_KEY=your_api_key